.pagination-buttons-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pagination-page-number {
  margin: 0;
  font-family: 'Roboto';
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
