.movie-db-heading {
  font-family: 'Roboto';
  font-size: 30px;
  padding-left: 20px;
}
.header-buttons-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-link {
  width: 100px;
  margin-right: 6px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.header-button {
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  width: 100%;
  height: 30px;
}
.header-search-button {
  width: 100px;
  flex-grow: 1;
}
.header-input {
  width: 200px;
  margin-right: 6px;
  margin-bottom: 10px;
  height: 30px;
  flex-grow: 1;
  outline: none;
}
